body {
background: linear-gradient(#C8C8C8, #FFFFFF, #C8C8C8, #FFFFFF, #C8C8C8, #FFFFFF);
}



h1 {
color: orange;
font-size: 50pt;
}



h2 {
color: grey;
font-size: 20pt;
}



h3 {
color: lightblue;
font-size: 12pt;
}



h4 {
color: grey;
font-size: 10pt;
}



h5 {
color: darkgreen;
font-size: 10pt;
}



h6 {
color: lightgreen;
font-size: 10pt;
}



h7 {
color: yellow;
font-size: 22pt;
}



h8 {
width: 200;
height: 200;
}
